<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Coordonnées personnelle</h1>
  <ion-item lines="none">
    <ion-label position="floating">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Prénom</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Adresse</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>