<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    <ion-title class="ion-text-center title">selfData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="none">
      <ion-label color="light" position="floating">* Username</ion-label>
      <ion-input color="light" type="text" formControlName="username"></ion-input>
    </ion-item>

    <span class="error ion-padding" *ngIf="submitted && errorCtr.username.errors?.required">
      Un username est requis.
    </span>

    <span class="error ion-padding" *ngIf="submitted && errorCtr.username.errors?.minlength">
      La taille doit être au minimum de 6 charactères.
    </span>

    <ion-item lines="none">
      <ion-label color="light" position="floating">* Nom</ion-label>
      <ion-input color="light" type="text" formControlName="lastname"></ion-input>
    </ion-item>

    <span class="error ion-padding" *ngIf="submitted && errorCtr.lastname.errors?.required">
      Un nom est requis.
    </span>

    <ion-item lines="none">
      <ion-label color="light" position="floating">* Prénom</ion-label>
      <ion-input color="light" type="text" formControlName="firstname"></ion-input>
    </ion-item>

    <span class="error ion-padding" *ngIf="submitted && errorCtr.firstname.errors?.required">
      Un prenom est requis.
    </span>

    <ion-item lines="none">
      <ion-label color="light" position="floating">Description</ion-label>
      <ion-input color="light" type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-button size="block" color="caliente" type="submit">Valider ces champs</ion-button>
  </form>
</ion-content>