<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user">{{user.username}}</ion-title>
    <ion-icon name="settings-outline" slot="end" [routerLink]="rootUpdate"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img *ngIf="user" src="{{user.profile}}"></ion-img>
      </ion-avatar>
      <ion-label *ngIf="user">{{user.firstname}} {{user.lastname}}</ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <p [routerLink]="rootPhoto">Photos</p>
          </ion-row>
          <ion-row>
            <p>{{numberPhotos}}</p>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>
            <p [routerLink]="rootFollow">Abonnements</p>
          </ion-row>
          <ion-row>
            <p>{{numberUsersLiked}}</p>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-grid>
    <h3>Ajouter une photo </h3>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="!hiddeButton" (click)="chooseAPicture($event)">Profil</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="!hiddeButton" (click)="chooseAPicture($event)">Galerie</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="showModalProfile">
    <ion-title>Selectionnez une Url</ion-title>
    <ion-input [(ngModel)]="input">Url:</ion-input>
    <ion-button (click)="sendImage()">Envoyer cette image</ion-button>
    <ion-button (click)="cancel()">Annuler</ion-button>
  </div>

  <div *ngIf="showModalGallery">
    <ion-input [(ngModel)]="lieu">Lieu:</ion-input>
    <ion-input [(ngModel)]="input">Url:</ion-input>
    <ion-input [(ngModel)]="description">Description:</ion-input>
    <ion-button (click)="sendImage()">Envoyer cette image</ion-button>
    <ion-button (click)="cancel()">Annuler</ion-button>

  </div>




</ion-content>