<ion-header>
  <ion-toolbar>
    <ion-title>{{user.username}}</ion-title>
    <ion-icon name="settings-outline" slot="end" [routerLink]="rootUpdate"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="{{user.profile}}"></ion-img>
      </ion-avatar>
      <ion-label>{{user.firstname}} {{user.lastname}}</ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <p>Photos</p>
          </ion-row>
          <ion-row>
            <p>10</p>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>
            <p>Abonnements</p>
          </ion-row>
          <ion-row>
            <p>50</p>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-grid>
    <h3>Souhaitez-vous ajouter une photo ?</h3>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="!showInput" (click)="chooseAPicture($event)">Profil</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button *ngIf="!showInput" (click)="chooseAPicture($event)">Galerie</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-input *ngIf="showInput" [(ngModel)]="input">URL</ion-input>
  <ion-button *ngIf="showInput" (click)="sendImage()">Envoyer cette image</ion-button>





</ion-content>