<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" routerLink="/tab/about"></ion-icon>
    <ion-title class="ion-text-center title">{{mail}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>


    <ion-title *ngIf="user">Username : {{user.username}}</ion-title>
    <ion-item>
      <ion-input formControlName="username" color="light"> </ion-input>
    </ion-item>




    <ion-title *ngIf="user">Prénom : {{user.firstname}}</ion-title>
    <ion-item>
      <ion-input formControlName="firstname" color="light"> </ion-input>
    </ion-item>




    <ion-title *ngIf="user">Nom : {{user.lastname}}</ion-title>
    <ion-item>
      <ion-input formControlName="lastname" color="light"> </ion-input>
    </ion-item>



    <p *ngIf="user" class="ion-padding"> Description :{{user.description}}</p>
    <ion-item>
      <ion-input formControlName="description" color="light"> </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="caliente">Modifier</ion-button>
  </form>
</ion-content>