<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center title">Instacram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="caliente">
  <ion-title class="ion-text-center">Connectez-vous</ion-title>
  <form [formGroup]="form" (ngSubmit)="submitForm(this)">

    <ion-item>
      <ion-label>Adresse mail</ion-label>
      <ion-input formControlName="mail" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="password" color="danger" required></ion-input>
    </ion-item>
    <ion-button type="submit" size="block" outline>Connexion</ion-button>
  </form>


  <ion-item lines="none" class="ion-text-center" marging="50%">
    <ion-label>Vous n'avez pas de compte ?</ion-label>
  </ion-item>

  <ion-item class="ion-text-center">
    <ion-label routerLink="/subscription">Inscrivez-vous</ion-label>
  </ion-item>



</ion-content>