
// ion-header{
// 	background-color:red;
// }
ion-content {
	top:5%;
}
ion-title{
	margin-bottom:5%;
	font-family: 'Lobster', cursive;

}
ion-item{
	margin-bottom:5%;

}
ion-button{
	margin-bottom:5%;
	background-color: rgba()
}

.title{
	padding:16px;
	font-size:34px;
	margin:0;
}

