
ion-content {
	opacity: 0.9;
	top:5%;
}
ion-toolbar{
	--background:rgba(0,0,0,0.1);
}
ion-title{
	margin-bottom:5%;
	font-family: 'Lobster', cursive;
}
ion-item{
	margin-bottom:5%;
	--border-color:rgba(0,0,0,0.3);

}
ion-button{
	margin-bottom:5%;
	// background-color: 
	--background: rgba(0,0,0,0.1);
}

.title{
	padding:16px;
	font-size:34px;
	margin:0;
}

