<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" routerLink="/subscription/step2"></ion-icon>
    <ion-title class="ion-text-center title">recapSub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>
  <ion-title class="ion-text-center title">Récap de vos données</ion-title>

  <ion-item>
    <ion-label color="light">Mail : </ion-label>
    <ion-label color="primary"> {{user.mail}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="light">Username : </ion-label>
    <ion-label color="primary"> {{self.username}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="light">Nom : </ion-label>
    <ion-label color="primary"> {{self.lastname}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="light">Prénom : </ion-label>
    <ion-label color="primary"> {{self.firstname}} </ion-label>
  </ion-item>

  <ion-button expand="block" (click)="onSignup()" color="caliente">Valider les données</ion-button>
</ion-content>