<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    <ion-title class="ion-text-center title" routerLink="/connection">Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <h1 class="ion-text-center title">Identifants de connexion</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="none">
      <ion-label position="floating" color="light">Adresse mail</ion-label>
      <ion-input color="light" type="email" formControlName="mail"></ion-input>
    </ion-item>

    <span class="error ion-padding" *ngIf="submitted && errorCtr.mail.errors?.required">
      Un mail est requis.
    </span>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.mail.errors?.email">
      Vous devez entrer un mail valide.
    </span>

    <ion-item lines="none">
      <ion-label position="floating" color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" formControlName="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
      Un mot de passe est requis.
    </span>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.minlength">
      Le mot de passe doit contenir minimum 8 charactères.
    </span>


    <ion-item lines="none">
      <ion-label position="floating" color="light">Confirmation du mot de passe</ion-label>
      <ion-input type="password" color="light" formControlName="passwordConf"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.passwordConf.errors?.validators">
      Les mots de passe de confirmation est requis.
    </span>

    <span class="error ion-padding" *ngIf="!matchPassword">
      {{message}}
    </span>

    <ion-button size="block" type="submit" color="caliente">Valider ces champs</ion-button>
  </form>



</ion-content>